stages:
  - lint
  - codestyle
  - tarballs
  - trigger

## Stage lint

# PHP lint
create_php_lint_rapport:
  image: registry.fusiondirectory.org/fusiondirectory/fd/phpcodesniffer-cli:buster
  stage: lint
  only:
    - branches
  script:
    - find . -type f -name '*.php' -o -name '*.inc' -print0 | xargs -0 -n1 php -l

## Stage codestyle

# PHP codesniffer
create_php_code_sniffer_rapport:
  image: registry.fusiondirectory.org/fusiondirectory/fd/phpcodesniffer-cli:buster
  stage: codestyle
  only:
    - branches
  script:
    - test -d ../dev-tools/ && rm -Rf ../dev-tools/
    - git clone --depth 1 https://gitlab.fusiondirectory.org/fusiondirectory/dev-tools.git ../dev-tools
    - find . -type f -name '*.php' -o -name '*.inc' > ./filelist
    - /root/.composer/vendor/bin/phpcs --standard=../dev-tools/php-codesniffer-rules/FDStandard/ruleset.xml --file-list=./filelist
    - /root/.composer/vendor/bin/phpcs --config-set installed_paths /PHPCompatibility,/PHPCSUtils
    - /root/.composer/vendor/bin/phpcs --standard=PHPCompatibility --runtime-set testVersion $PHP_COMPATIBILITY --file-list=./filelist

# phpstan
create_phpstan_rapport:
  image: registry.fusiondirectory.org/fusiondirectory/fd/phpstan-cli:buster
  stage: codestyle
  only:
    - branches
  script:
    - test -d ../dev-tools/ && rm -Rf ../dev-tools/
    - git clone --depth 1 https://gitlab.fusiondirectory.org/fusiondirectory/dev-tools.git ../dev-tools
    - curl "https://gitlab.fusiondirectory.org/api/v4/projects/$FD_INTEGRATOR_ID/jobs/artifacts/$BRANCH/raw/fusiondirectory-integrator-$INTEGRATOR_VERSION.tar.gz?job=build-tarballs" -o fusiondirectory-integrator.tar.gz
    - mkdir /usr/share/php/FusionDirectory/
    - tar -xvzf ./fusiondirectory-integrator.tar.gz
    - mv ./fusiondirectory-integrator-$INTEGRATOR_VERSION/src/* /usr/share/php/FusionDirectory/
    - cp ../dev-tools/phpstan/fusiondirectory-tools/*.neon .
    - /root/.composer/vendor/bin/phpstan analyse -c phpstan.neon

build-tarballs:
  stage: tarballs
  only:
    - dev
  script:
    - mkdir ../fusiondirectory-tools-$VERSION/
    - mv ./* ../fusiondirectory-tools-$VERSION/
    - mv  ../fusiondirectory-tools-$VERSION/ ./
    - tar -cvzf fusiondirectory-tools-$VERSION.tar.gz *
  artifacts:
    paths:
      - fusiondirectory-tools-$VERSION.tar.gz
    expire_in: 30d

trigger-ci-debian-bullseye:
  stage: trigger
  only:
    - dev
  trigger:
    project: debian/bullseye-fusiondirectory-tools-dev
    branch: "main"

trigger-ci-centos-7:
  stage: trigger
  only:
    - dev
  trigger:
    project: centos/centos7-fusiondirectory-tools-dev
    branch: "main"
